    div header,
    aside,
    main {
        box-sizing: border-box;
        margin: 2%;
        padding: 10px;
    }

    header {
        width: 95%;
    }

    #logo {
        width: 100px;
    }

    #searchbox {
        width: 300px;
    }

    #logo,
    #searchbox {
        height: 50px;
        display: inline-block;
    }

    #hfont {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    button {
        height: 10px;
        margin: 20px;
        padding: 10px;
    }

    aside {
        width: 20%;
        float: left;
    }

    main {
        width: 70%;
        margin-left: 25%;
    }

    .filter {
        width: 80%;
        min-height: 80px;
    }

    .product {
        width: 200px;
        height: 200px;
        display: inline-block;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    div,header,aside,main {
        border: solid lightcoral;
        box-sizing: border-box;
        margin: 1%;
        padding: 10px;
        background-color: lightsteelblue;
    }

    header {
        width: 95%;
    }

    #logo {
        width: 150px;
    }

    #searchbox {
        width: 300px;
    }

    #logo,
    #searchbox {
        height: 150px;
        display: inline-block;
    }

    button {
        height: 50px;
        margin: 20px;
        padding: 10px;
    }

    aside {
        width: 10%;
        float: left;
    }

    main {
        width: 84%;
        margin-left: 12%;
    }

    .filter {
        width: 80%;
        min-height: 80px;
    }

    .product {
        width: 200px;
        height: 200px;
        display: inline-block;
    }

    .container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 20px;
    }

    header{
        grid-column: 1/3;
        grid-row: 1;
    }

    aside {
        grid-column: 1;
        grid-row: 2;
    }

    main {
        grid-column: 2;
        grid-row: 2;
    }

    .course {
        border:solid lightblue;
        display:inline-block;
        margin:10px;
        padding:10px;
    }

